{% load url_replace %}

{% load i18n %}

<div class="wp-pagenavi">
    {% if result.paginator.num_pages <= 1%}
    {% else %}
      {% if result.has_previous %}
      <a class="page larger" href="{% url_replace request 'page' result.previous_page_number %}">&laquo; {% trans '上一页' %}</a>
      {% endif %}

      {% if paginator.page_show_min > 1 %}
        <a class="page larger" href="{% url_replace request 'page' 1 %}">1 ...</a>
      {% endif %}

      {% for num in result.paginator.page_range %}
        {% if num >= paginator.page_show_min and num <= paginator.page_show_max %}
          {% ifequal result.number num %}<span  class="current">{{ num }}</span>
          {% else %}
          <a class="page larger {% ifequal result.number num %} current {% endifequal %}" href="{% url_replace request 'page' num %}">{{ num }}</a>
          {% endifequal %}
        {% endif %}
      {% endfor %}

      {% if paginator.page_show_max < result.paginator.num_pages %}
      <span class="disable">...</span><a class="page larger" href="{% url_replace request 'page' result.paginator.num_pages %}">{{result.paginator.num_pages}}</a>
      {% endif %}

      {% if result.has_next %}
      <a class="page larger" href="{% url_replace request 'page' result.next_page_number %}">{% trans '下一页' %} &raquo;</a>
      {% endif %}

    {% endif %}
</div>
